In [1]:
# Single word
'hello'

'hello'

In [2]:
# Single word
str = 'hello'
str

'hello'

In [3]:
# Entire phrase
'This is also a string'

'This is also a string'

In [4]:
# We can also use double quote
"Strings built with double quotes"

'Strings built with double quotes'

In [5]:
# Be careful with quotes!
"I'm using single quotes,but will create an error"

"I'm using single quotes,but will create an error"

In [6]:
"Now I'm ready to use the single qoutes inside the string!"

"Now I'm ready to use the single qoutes inside the string!"

In [7]:
# We can simply declare a string 
'Hello World'

'Hello World'

In [8]:
# note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [9]:
print('Hello World 1')
'Hello World 2'

Hello World 1

'Hello World 2'

In [10]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

In [11]:
# To use print function from python 3 in python 2
from__ future__ import print_function

print('Hello World')

SyntaxError: invalid syntax (<ipython-input-11-3f9967aea850>, line 2)

In [12]:
len('Hello World')

11

In [13]:
# Assign s as a string
s = 'Hello World'

In [14]:
# Check
s

'Hello World'

In [15]:
# print the object
print(s)

Hello World

In [16]:
# Show first element (in this case a letter)
s[0]

'H'

In [17]:
s[1]

'e'

In [18]:
s[2]

'l'

In [19]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [20]:
# Note that there is no change to the original s
s

'Hello World'

In [21]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [22]:
# Everything 
s[:]

'Hello World'

In [23]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [24]:
# Grab everything but the last letter 
s[:-1]

'Hello Worl'

In [25]:
# Grab everything,but go in steps size of 1
s[::1]

'Hello World'

In [26]:
# Grab everything,but go in steps of 2 
s[::2]

'HloWrd'

In [27]:
# We can use this to print a string backward
s[::1]

'Hello World'

In [28]:
s

'Hello World'

In [29]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [32]:
s

'Hello Worldconcatenate me !'

In [33]:
# Concatenate strings !
s + 'concatenate me !'

'Hello Worldconcatenate me !concatenate me !'

In [36]:
# We can reassign s completely though !
s = s + 'concatenate me !'

In [37]:
print(s)

Hello Worldconcatenate me !concatenate me !concatenate me !

In [38]:
s

'Hello Worldconcatenate me !concatenate me !concatenate me !'

In [39]:
letter = 'z'

In [40]:
letter * 10

'zzzzzzzzzz'

In [41]:
s

'Hello Worldconcatenate me !concatenate me !concatenate me !'

In [42]:
# Upper case a string
s.upper()

'HELLO WORLDCONCATENATE ME !CONCATENATE ME !CONCATENATE ME !'

In [43]:
# Lower case 
s.lower()

'hello worldconcatenate me !concatenate me !concatenate me !'

In [44]:
# Split a string by blank space(this is the default)
s.split()

['Hello',
 'Worldconcatenate',
 'me',
 '!concatenate',
 'me',
 '!concatenate',
 'me',
 '!']

In [45]:
# Split by a specific element(doesn't include the element that was split on)
s.split('o')

['Hell', ' W', 'rldc', 'ncatenate me !c', 'ncatenate me !c', 'ncatenate me !']

In [46]:
'Insert another string with curly brackets :{}'
format({'The inserted string'})

"{'The inserted string'}"

In [47]:
print(s)
s.count('o')

Hello Worldconcatenate me !concatenate me !concatenate me !

5

In [49]:
s.find('o')

4

In [50]:
s.center(40,'z')

'Hello Worldconcatenate me !concatenate me !concatenate me !'

In [51]:
'hello\thi'.expandtabs()

'hello   hi'

In [53]:
s='hello'

In [55]:
s.isalnum()

True

In [56]:
s.isalpha()

True

In [57]:
s.islower()

True

In [58]:
s.isspace()

False

In [59]:
s.istitle()

False

In [60]:
s.isupper()

False

In [61]:
s.endswith('o')

True

In [62]:
s.split('e')

['h', 'llo']

In [63]:
s.partition('e')

('h', 'e', 'llo')

In [64]:
s

'hello'

In [67]:
# Assign a list to an variable named my_list
my_list=[1,2,3]

In [69]:
my_list=['A string',23,100,232,'0']
my_list

['A string', 23, 100, 232, '0']

In [70]:
len(my_list)

5

In [71]:
my_list =['one','two','three',4,5]

In [72]:
# Grab element at index 0
my_list[0]

'one'

In [73]:
# Grab index 1 and everything past it 
my_list[1:]

['two', 'three', 4, 5]

In [74]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [75]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [76]:
my_list

['one', 'two', 'three', 4, 5]

In [77]:
# Reassign
my_list = my_list + ['add new item permanently']

In [80]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [81]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [82]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [2]:
# Create a new list 
l = [1,2,3]

In [3]:
# Append 
l.append('append me !')

In [4]:
# Show 
l

[1, 2, 3, 'append me !']

In [6]:
# Pop off the 0 indexed item
l.pop(0)

1

In [8]:
# Show 
l

[2, 3, 'append me !']

In [10]:
# Assign the popped element,remember default popped index is -1
popped_item = l.pop()

In [11]:
popped_item

3

In [12]:
# Show remaining list
l

[2]

In [13]:
l[100]

IndexError: list index out of range

In [16]:
new_list = ['a','e','x','b','c']

In [17]:
# Show 
new_list

['a', 'e', 'x', 'b', 'c']

In [18]:
# Use reverse to reverse order(this is permanent !)
new_list.reverse()

In [19]:
new_list

['c', 'b', 'x', 'e', 'a']

In [20]:
# Use sort to sort the list(in the case alphabetical order,but for numbers it will go ascending)
new_list.sort()

In [21]:
new_list

['a', 'b', 'c', 'e', 'x']

In [22]:
# Let's make three lists
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [7,8,9]

# Make a list of lists to form a matirx 
matrix = [lst_1,lst_2,lst_3]

In [23]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [24]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [25]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

In [26]:
matrix[1][1]

5

In [27]:
# Build a list comprehension by deconstructing a for loop within a[]
first_col = [row[0] for row in matrix]

In [28]:
first_col

[1, 4, 7]

In [29]:
l=[1,2,3]

In [30]:
l.append(4)
l

[1, 2, 3, 4]

In [31]:
l.count(10)

0

In [32]:
l.count(2)

1

In [39]:
x = [1,2,3]
x.append([4,5])
print(x)

[1, 2, 3, [4, 5]]

In [40]:
x =[1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

In [41]:
print(l)
l.index(2)

[1, 2, 3, 4]

1

In [43]:
l.index(2)

1

In [44]:
l

[1, 2, 3, 4]

In [45]:
# Place a letter at the index 2
l.insert(2,'inserted')

In [46]:
l

[1, 2, 'inserted', 3, 4]

In [47]:
ele = l.pop()

In [48]:
l

[1, 2, 'inserted', 3]

In [49]:
ele

4

In [50]:
l

[1, 2, 'inserted', 3]

In [51]:
l.remove('inserted')

In [52]:
l

[1, 2, 3]

In [53]:
l=[1,2,3,4,3]

In [54]:
l.remove(3)

In [55]:
l

[1, 2, 4, 3]

In [56]:
l.reverse()

In [59]:
l

[3, 4, 2, 1]

In [60]:
l.sort()

In [61]:
l

[1, 2, 3, 4]